{% extends "base.html" %}
{% block sidebar %}
            
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'pub_browse_base' %}">Back to Publications</a></li>
                <li><a href="{% url 'pub_browse_single' pub.citekey %}">Back to Publication detail</a></li>

            </ul>
            <br>{% csrf_token %}
            {% for success in success_alerts %}
            <div class="alert alert-success" role="alert">
                <strong>{{success}}</strong>
            </div>
            {% endfor %}
            {% for info in info_alerts %}
            <div class="alert alert-info" role="alert">
                <strong>{{info}}</strong> 
            </div>
            {% endfor %}
            {% for warning in warning_alerts %}
            <div class="alert alert-warning" role="alert">
                <strong>{{warning}}</strong>
            </div>
            {% endfor %}
            {% for danger in danger_alerts %}
            <div class="alert alert-danger" role="alert">
                <strong>{{danger}}</strong>
            </div>
            {% endfor %}
{% endblock %}
{% block content %}
    <style>
        .editable_field {
            visibility: hidden
        }
    </style>

    <h1>Delete Publication: {{pub.citekey}}</h1>
    {% if user.is_authenticated %}
    <p>Are you sure you want to delete this publication? It will be recorded as deleted under your user account. You will note be able to undo this action.</p>
    
    <table>
        <tr>
            <td>
                <div>
                    <form method="post" action="{% url 'pub_delete' pub.citekey %}">{% csrf_token %}
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </td>
            <td>    
                <div class="col-lg-2">
                    <form method="get" action="{% url 'pub_browse_single' pub.citekey %}">{% csrf_token %}
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>

    
    {% else %}
    <p>You must be logged in to see this page</p>
    {% endif %}
    

{% endblock %}